/* 0.0 Document Rules */
* {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

/* 1.0 Header */

#header {
	width: 100%;
	background: #465772;
	font-size: 13px;
}
#header_wrap {
	margin: 0 auto;
	padding: 20px;
	width: 960px;
	display: block;
	overflow: auto;
}
#header_logo {
	float: left;
	display: inline-block;
}
#header_text {
	padding-top: 5px;
	float: right;
	font-size: 20px;
	font-weight: 700;
	color: #ffffff;
}

/* 2.0 Subheader */

#subheader {
	width: 100%;
	background: #61b6fe;
	font-size: 13px;
	color: #ffffff;
}
#subheader_wrap {
	margin: 0 auto;
	padding: 20px;
	width: 960px;
	overflow: hidden;	
}

/* 3.0 Content */

#content {
	margin: 0 auto;
	width: 1000px;
	font-size: 15px;
}
.box {
	padding: 35px 0px 35px 0px;
	border-bottom: #e7ebef 1px solid;
}
.box_alt {
	padding: 35px 0px 35px 0px;
	border-bottom: #dee2e6 1px solid;
}
.box_noPad {
	display: block;
	overflow: auto;
	border-bottom: #dee2e6 1px solid;
}
.author_left {
	padding: 10px 10px 10px 0px;
	width: 500px;
	float: left;
}
.author_right {
	padding: 10px 0px 10px 10px;
	width: 479px;
	float: right;
	border-left: #e7ebef 1px solid;
	background: #f2f4f6;
}
.box_alt ol {
	margin-left: 50px;
	list-style-type: upper-alpha;
}
.box_alt ul {
	margin-left: 50px;
}
.box_alt p {
	line-height: 22px;
}
.top {
	margin-top: -10px;
	padding: 15px 0px;
	float: right;
	font-size: 13px;
	color: #144592;
}

/* Styles */

a {
	color: #144592;
}
a:hover {
	color: #444444;
	text-decoration: none;
}
.header {
	text-align: center;
}
.documentation_header {
	display: inline-block;
	color: #9199a3;
	font-size: 20px;
	font-style: italic;
	font-family: 'Libre Baskerville', serif;
}
.documentation_header_alt {
	color: #000000;
	font-size: 40px;
}
.author_header {
	font-weight: 800;
}
.highlight {
	padding: 2px 5px;
	background: #efde24;
}
.caption {
	color: #9199a3;
	font-size: 12px;
	font-style: italic;
	font-family: 'Libre Baskerville', serif;
}
.subheader {
	font-size: 25px;
	font-weight: 600;
	display: inline-block;
}
i {
	margin: 0px 10px 0px 0px;
}
.code {
	margin-left: 50px;
	font-family:"Courier New", Courier, monospace;
}