/* 0.0 Document Rules */

* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #f2f4f6;
	font-family: 'Open Sans', sans-serif;

}

/* ------------------------------- */

/* 1.0 Header */

#header {
	width: 100%;
	position: fixed;
	background: #465772;
	height: 70px;
	font-size: 13px;
	z-index: 200;
}
#header_wrap {
	margin: 0 auto;
	padding: 10px 15px 10px 25px;
	width: 916px;
	display: block;
	overflow: auto;
}

/* 1.1 Logo */

#logo {
	padding: 8px 0px;
	width: auto;
	display: inline-block;
	float: left;
}

/* 1.2 Navigation */

#navigation {
	padding-top: 3px;
	float: right;
	width: auto;
}
.navigation_title {
	display: none;
}
#navigation ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#navigation ul li {
	margin-top: 10px;
	margin-right: 10px;
	display: inline-block;
	width: auto;
	float: left;
}
#navigation ul li a {
	color: #a2adbc;
	text-decoration: none;
}
.nav_link {
	padding: 5px 20px;
	border: #465772 2px solid;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-o-border-radius: 25px;
	
	transition: border-color .2s linear;
    -webkit-transition: border-color .2s linear;
    -moz-transition: border-color .2s linear;
    -o-transition: border-color .2s linear;
}
.nav_link:hover {
	border: #52637e 2px solid;
}
.nav_link_other {
	display: none;	
}
#nav_current {
	padding: 5px 20px;
	border: #52637e 2px solid;
	font-family: 'Open Sans', sans-serif;
	color: #ffffff !important;

	font-weight: 600;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-o-border-radius: 25px;
}
nav {
	float: left;
}

/* 1.3 Search */

#search {
	padding-top: 5px;
	float: right;
	width: auto;
	display: inline-block;
}
#search_box {
	float: left;
	width: auto;
	display: inline-block;
}
#search_textbox {
	padding: 7px 20px;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-o-border-radius: 25px;
	background: #52637e;
	border: none;
	float: left;	
	color: #a2adbc;
}
#search_button {
	width: 22px;
	height: 22px;
	background :url(../images/search_button.png) center center no-repeat;
	border: none;
	position: relative;
	z-index: 200;
	right: 10px;
	top: 4px;
	cursor: pointer;
}

/* ------------------------------- */

/* 2.0 Subheader */

#subheader {
	width: 100%;
	padding-top: 70px;
	background: #61b6fe;
	font-size: 13px;
	color: #ffffff;
}
#subheader_wrap {
	margin: 0 auto;
	padding: 20px;
	width: 916px;
	overflow: hidden;	
}

#subheader_wrap a {
	color: #ffffff;
	text-decoration: none;
}

/* 2.1 Icon/Avatar "Shadow" Border */

#icon_border {
	margin: 0px auto -150px auto;
	padding: 1px;
	width: 180px;
	height: 180px;
	background: #5cadf1;
	border: #5cadf1 10px solid;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	-o-border-radius: 150px;
}

/* ------------------------------- */

/* 3.0 Icon/Avatar */

#icon_wrap {
	margin: -85px auto 0px auto;
	padding: 20px;
	width: 916px;
	overflow: hidden;	
}
#icon {
	margin: 0 auto;
	width: 170px;
	height: 170px;
	overflow: hidden;
	background: url('http://placehold.it/350x175') bottom center no-repeat;
	border: #f2f4f6 10px solid;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	-o-border-radius: 150px;
		
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}
#icon_link {
	width: 170px;
	height: 170px;
}

/* ------------------------------- */

/* 4.0 Categories */

#content_wrap {
	margin: 0px 0px 80px 0px;
}
.categories {
	margin: 0 auto;
	padding: 10px 0px 40px 0px;
	width: 916px;
	display: block;
	overflow: auto;
}
.categories ul {
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
}
.categories ul li {
	display: inline-block;
}
.categories_link {
	margin: 0px 6px 0px 5px;
	padding: 10px 9px 8px 9px;
	background: #ffffff;
	border: #eceef0 1px solid;
	color: #b1b8c2;
	font-size: 13px;
	text-decoration: none;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	
	transition: all .2s linear;
    -webkit-transition: all .2s linear; 
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
}
.categories_link:hover {
	border: #b1b8c2 1px solid;
	color: #9aa3af;
}
#current_categories {
	background: #f2f4f6;
	border: #b1b8c2 1px solid;
	color: #b1b8c2;
	font-family: 'HelveticaNeueLTPro-Roman', Arial, sans-serif;	
	font-weight: 700;
}
#more {
	background: #f2f4f6;
	border: #f2f4f6 1px solid;
	color: #b1b8c2;
	cursor: pointer;
	
	transition: all .2s linear;
    -webkit-transition: all .2s linear; 
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
}
#more:hover {
	border: #b1b8c2 1px solid;
	color: #9aa3af;
}
#sort_down {
	position: relative;
	top: 0px;
}
#categories_unlisted {
	margin-top: -30px;
	padding: 20px 0px 25px 0px;
	width: 916px;
	display: none;
}

/* ------------------------------- */

/* 5.0 Posts */

.post {
	margin: 0px auto 40px auto;
	padding: 0px;
	width: 916px;
	overflow: auto;
	display: block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}
.post_media {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 10;
    display: block;
}
.post_media img {
	width: 916px;
	height: auto;
	margin-bottom: -5px;
}
.post_media iframe {
	margin-bottom: -4px;
}
.post_type {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 33px;
	height: 33px;
	z-index: 100;
}
#photo {
	background: url(../images/post_photo_icon.png) center center no-repeat;
}
#photoset {
	background: url(../images/post_photoset_icon.png) center center no-repeat;
}
#video {
	background: url(../images/post_video_icon.png) center center no-repeat;
}
.post_content {
	margin: 0 auto;
	padding: 35px 50px 35px 50px;
	display: block;
	overflow: auto;
	width: 816px;
	background: #ffffff;
	color: #74787d;
}
.post_header {
	margin-bottom: 15px;
	width: 100%;
	font-family: 'Rokkitt', serif;
	font-weight: 700;
	font-size: 28px;
	display: block;
	overflow: auto;
}
.post_title {
	float: left;
	color: #465772;
}
.post_title a {
	color: #465772;
	text-decoration: none;
}
.post_title a:hover {
	text-decoration: underline;
}
.post_date {
	padding: 5px 0px 0px 0px;
	float: right;
	color: #b9bec6;
	font-size: 24px;
}
.post_body {
	margin-bottom: 20px;
	font-size: 14px;
	text-align: justify;
	border-bottom: #eceef0 1px solid;
}
.post_body img {
    padding: 10px 0px 10px 20px;
	width: 250px;
	height: auto;
	float: right;
}
.post_body a {
	color: #72a2d2;
}
.post_body a:hover {
	text-decoration: none;
}
.post_footer {
	width: 100%;
	font-size: 13px;
}
.post_footer_left {
	display: block;
	overflow: auto;
	float: left;
	width: 300px;
	background: url(../images/footer_left_line.jpg) center center repeat-x;
}
.post_footer_left a {
	color: #9aa3af;
	text-decoration: none;
}
.post_read_more {
	padding: 10px 20px 9px 20px;
	width: auto;
	display: inline-block;
	float: left;
	background: #ffffff;
	border: #eceef0 1px solid;
	color: #b1b8c2;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	
	transition: all .2s linear;
    -webkit-transition: all .2s linear; 
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
}
.post_read_more:hover {
	border: #b1b8c2 1px solid;
	color: #9aa3af;
}
.post_read_more_pad {
	padding-right: 10px;	
	width: auto;
	display: inline-block;
	overflow: auto;
	background: #ffffff;
}
.post_comment_icons {
	float: right;
	padding: 11px 10px 10px 10px;
	background: #ffffff;
}
.post_comment_icons ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.post_comment_icons ul li {
	display: inline-block;
	margin-right: 10px;
}
.post_comment_icons a {
	color: #b1b8c2;
}
.user_icon, .comment_icon, .heart_icon {
	transition: all .2s linear;
    -webkit-transition: all .2s linear; 
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
}
.user_icon:hover {
	color: #61b6fe;
}
.comment_icon:hover {
	color: #83ce6f;
}
.heart_icon:hover {
	color: #f976b1;	
}
.post_social_media {
	padding: 2px 0px 4px 0px;
	float: right;
	text-transform: uppercase;
}
.post_social_media a {
	color: #ffffff;
	text-decoration: none;
}
.post p {
	margin-bottom: 20px;
	line-height: 25px;
}
.post i {
	margin-right: 5px;
}
.share_facebook {
	background: #4561b0;
	padding: 10px 15px 10px 15px;
	display: inline-block;
	color: #ffffff;
	text-align: center;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;

	transition: all .25s linear;
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -o-transition: all .25s linear;
}
.share_facebook:hover {
	background: #334d96;	
}
.share_twitter {
	background: #4ac4e9;
	padding: 10px 15px 10px 15px;
	display: inline-block;
	color: #ffffff;
	text-align: center;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;

	transition: all .25s linear;
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -o-transition: all .25s linear;
}
.share_twitter:hover {
	background: #23a9d2;	
}

/* ------------------------------- */

/* 6.0 Permalink Styles */

#content_permalink {
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 50;
	margin-top: -610px;
}
#post_media_permalink_container {
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
	height: 699px;
    background: #465772;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
}
#post_media_permalink {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover !important;
	opacity: 0;
}
.post_footer_left_permalink {
	display: block;
	overflow: auto;
	float: left;
}
.post_footer_left_permalink a {
	color: #9aa3af;
	text-decoration: none;
}
.post_footer_left_permalink {
	display: block;
	overflow: auto;
	float: left;
}
.post_footer_left_permalink a {
	color: #9aa3af;
	text-decoration: none;
}
#post_comment_permalink {
	float: left;
}

/* ------------------------------- */

/* 7.0 Comments */

#comments {
	margin: 0px auto 40px auto;
	width: 916px;
}
#comments a {
    color: #72a2d2;
}
#comments a:hover {
    text-decoration: none;
}
.comment_box {
	padding: 25px;
	margin-bottom: 20px;
	width: 866px;
	display: block;
	overflow: auto;
	background: #ffffff;
	font-size: 13px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}
.comment_box_reply {
	padding: 25px;
	margin-left: 60px;
	margin-bottom: 20px;
	width: 806px;
	display: block;
	overflow: auto;
	background: #ffffff;
	font-size: 13px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}
#comment_message {
	margin: 0px 0px 15px 0px;
	padding: 12px 0px;
	width: 95%;
	height: 75px;
	background: #ffffff;
	border: 0px;
	border-bottom: #eceef0 1px solid;
	color: #74787d;
}
#write .comment_box_icon {
	padding: 12px 10px 0px 0px;
	width: 15px;
	height: 100%;
	margin-right: 10px;
	color: #61B6FE;
	float: left;
}
.comment_box_icon {
    padding: 28px 10px 0px 0px;
    width: 15px;
    height: 100%;
    margin-right: 10px;
    color: #e5e9ed;
    float: left;
}
.comment_box_avatar {
	width: 75px;
	height: auto;
	margin-right: 10px;
	float: left;
}
.comment_box_avatar img {
	width: 75px;
	height: auto;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}
.comment_box_content {
	width: 85%;
	display: block;
	float: right;
	color: #74787d;
}
.comment_box_content_reply {
	width: 84%;
	display: block;
	float: right;
	color: #74787d;
}
.comment_box_content p,
.comment_box_content_reply p {
	margin-bottom: 5px;
	line-height: 16px;
}

/* ------------------------------- */

/* 8.0 Related Posts */

#related_posts {
	margin: 0px auto 40px auto;
	width: 916px;
	overflow: auto;
	display: block;
}
.related_post_box {
	width: 275px;
	overflow: hidden;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}
#col_left {
	float: left;
	margin-right: 45px;
}
#col_middle {
	float: left;
}
#col_right {
	float: right;
}
.related_post_box_media {
	position: relative;
	margin-bottom: -4px;
}
.related_post_box_media a {
	text-decoration: none;
}
.related_post_box_media img {
	width: 275px;
	height: auto;
}
.related_post_box_media_read_more {
	padding: 55px 25px 45px 25px;
	position: absolute;
	top: 0;
	left: 0;
	width: 225px;
	height: 83px;
	background: #293445;
	color: #ffffff;
	font-size: 15px;
	text-align: center;
	opacity: .8;
}
.related_post_box_media_read_more img {
    width: 50px;
    height: 50px;
}
.related_post_box_content {
	padding: 15px 25px 15px 25px;
	background: #ffffff;
	font-size: 13px;
	color: #74787d;
}
.related_post_box_content p {
	margin-bottom: 10px;
	line-height: 16px;
}

/* ------------------------------- */

/* 9.0 Footer */

#page_footer {
	margin: 0 auto;
	padding: 0px 0px 240px 0px;
	width: 916px;
	display: block;	
}
#pagination {
	margin: 0 auto 50px auto;
	width: 100%;
	padding-bottom: 60px;
	border-bottom: #eceef0 2px solid;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}
#pagination ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#pagination ul li {
	display: inline-block;
	color: #b1b8c2;
}
.pagination_link {
	padding: 15px;
	background: #ffffff;
	border: #eceef0 1px solid;
	color: #b1b8c2;
	font-size: 13px;
	text-decoration: none;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	
	transition: all .2s linear;
    -webkit-transition: all .2s linear; 
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
}
#pagination ul li a:hover {
	border: #b1b8c2 1px solid;
	color: #9aa3af;	
}
#current_page {
	background: #f2f4f6;
	border: #b1b8c2 1px solid;
	color: #b1b8c2;
	font-family: 'Open Sans', sans-serif;

}
/* 9.1 New Post Button */

#new_post {
	padding: 13px 18px;
	float: left;
	background: #ffffff;
	border: #eceef0 1px solid;
	color: #b1b8c2;
	font-size: 13px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
		
	transition: all .25s linear;
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -o-transition: all .25s linear;
}
#new_post:hover {
	border: #b1b8c2 1px solid;
	color: #9aa3af;	
}

/* 9.2 Social Media Icons */

#social_media {
	float: right;
	padding: 8px 0px 0px 0px;
}
#social_media ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#social_media ul li {
	display: inline-block;
}
#social_media ul li a {
	padding: 13px 18px;
	margin-left: 10px;
	background: #ffffff;
	border: #eceef0 1px solid;
	color: #b1b8c2;
	font-size: 13px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
		
	transition: all .25s linear;
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -o-transition: all .25s linear;
}
#social_media ul li a:hover {
	border: #b1b8c2 1px solid;
	color: #9aa3af;	
}
.facebook {
	color: #507CBE !important;
}
.twitter {
	color: #63CDF1 !important;
}
.google_plus {
	color: #8F8F8F !important;
}
.linkedin {
	color: #ACD8E6 !important;
}
.dribbble {
	color: #D97AA6 !important;
}
.instagram {
	color: #ADAA97 !important;
}
.youtube {
	color: #F16261 !important;
}
.pinterest {
	color: #F16261 !important;
}

/* 9.3 Footer Banner */

#footer_banner {
	width: 100%;
	background: #465772;
}
#footer_banner_wrap {
	margin: 0 auto;
	padding: 20px 15px 20px 15px;
	width: 916px;
	display: block;
	color: #5B6D8A;
	font-size: 13px;
	text-align: center;
}

/* ------------------------------- */

/* 10.0 Styling */

.dark_font {
	color: #465772;
	font-weight: 600;
}
.dark_font_header {
	font-size: 16px;
	color: #465772;
	font-weight: 600;
}
.dark_font_header a {
	color: #465772;
	text-decoration: none;
}
.dark_font_header a:hover {
	text-decoration: underline;
}
.quote {
    padding: 0px 50px;
    background: url('../images/open_quote.png') 1.5% 0% no-repeat, url('../images/close_quote.png') 98.5% 100% no-repeat;
	font-style: italic;
	border-left: #e8edf2 5px solid;
}
.highlight {
	padding: 3px 5px;
	background: #61b6fe;
	color: #ffffff;
}
.reply {
	font-style: italic;
	color: #b9bec6;
}
.footer_header {
	margin: 0px  00px 20px 30px;
	color: #74787d;
	font-size: 18px;
	font-weight: 400;
    font-family: 'Rokkitt', serif;
}
.post_body form {
    margin-bottom: 20px;
}
.contact_name, .contact_email,
.contact_website, .contact_message {
	padding: 15px;
	margin-bottom: 20px;
	width: 785px;
	background: #f2f4f6;
	font-size: 13px;
	color: #9199a3;
	border: #d6dde2 1px solid;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	font-family: 'Open Sans', sans-serif;

}
.contact_button {
	padding: 20px;
	color: #ffffff;
	width: 100%;
	background: #61b6fe;
	border: 0px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(73, 148, 211, 1);
    -moz-box-shadow: 0px 3px 0px 0px rgba(73, 148, 211, 1);
    box-shadow: 0px 3px 0px 0px rgba(73, 148, 211, 1);

	cursor: pointer;

	transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
}
.contact_button:hover {
	background: #57a5e7;
}
.contact_button:active{
    -webkit-box-shadow: inset 0px 3px 0px 0px rgba(73, 148, 211, 1);
    -moz-box-shadow: inset 0px 3px 0px 0px rgba(73, 148, 211, 1);
    box-shadow: inset 0px 3px 0px 0px rgba(73, 148, 211, 1);
}
.archive_header_even {
	padding: 20px;
	margin-bottom: 20px;
	color: #ffffff;
	width: 780px;
	background: #465772;
	border: 0px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	font-family: 'Open Sans', sans-serif;

	cursor: pointer;
	
	transition: background .2s linear;
    -webkit-transition: background .2s linear;
    -moz-transition: background .2s linear;
    -o-transition: background .2s linear;
}
.archive_header_even:hover {
	background: #3e4d66;
}
.archive_header_odd {
	padding: 20px;
	margin-bottom: 20px;
	color: #ffffff;
	width: 780px;
	background: #61b6fe;
	border: 0px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	font-family: 'Open Sans', sans-serif;

	cursor: pointer;

    transition: background .2s linear;
    -webkit-transition: background .2s linear;
    -moz-transition: background .2s linear;
    -o-transition: background .2s linear;
}
.archive_header_odd:hover {
	background: #57a5e7;
}
.archive {
	padding-left: 20px;
	margin-bottom: 20px;
}
.archive ul, .archive ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
textarea {
	font-family: 'Open Sans', sans-serif;

}
iframe {
	border: 0;
}
::-webkit-input-placeholder {
	color: #a2adbc;
}

:-moz-placeholder {
	color: #a2adbc;
}

::-moz-placeholder { 
	color: #a2adbc;
}

:-ms-input-placeholder {  
	color: #a2adbc;
}
:focus {
	outline: none; 
}

/* 11.0 Retina Display */

@media
only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and ( min--moz-device-pixel-ratio: 1.25),
only screen and ( -o-min-device-pixel-ratio: 1.25/1),
only screen and ( min-device-pixel-ratio: 1.25)
{

    #logo {
        width: 84px;    /* dimensions of logo */
        height: 25px;   /* dimensions of logo */
        background-image: url(../images/retina/logox2.jpg);  /* source of your retina-optimized image */
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        float: left;
    }
    #logo img {
        display: none;
    }
    #search_button {
        background-image: url(../images/retina/search_buttonx2.png);
        background-size: contain;
    }

}