    <!-- About Section -->
    <section id="projects" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2><a href="https://github.com/there4/slim-unit-testing-example">Slim Framework Unit Testing Example</a></h2>
                <p>Integration testing a Slim PHP site with PHP Unit and without a webserver</p>

                <h2><a href="https://github.com/there4/markdown-resume">Markdown Resume Builder</a></h2>
                <p>Build your resume with simple Markdown tools. What started as an experiment in CSS and print styles turned into something useful!</p>

                <h2><a href="https://github.com/there4/jquery-animatedborder">jQuery Animated Border</a></h2>
                <p>A simple callout for any block level element</p>

                <h2><a href="https://github.com/there4/fogbugz-php-cli">FogBugz Command Line Client</a></h2>
                <p>A complete terminal interface to FogBugz. Leave notes, view cases, assign, manage your working-on status without leaving the terminal.</p>

                <h2><a href="https://github.com/bengl/node-termcamp">TermCamp, a Campfire command line client</a></h2>
                <p>A node experiment with a nicely functional terminal client</p>
            </div>
        </div>
    </section>
