---
layout: default
---
<div id="post">
<h1>{{ page.title }}</h1>
{{ content }}
</div>

<hr style="margin-top: 1em;">

<div id="related">
  <h2>Related Posts</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

{% if page.comments %}
<hr style="margin-top: 1em;">
<div id="comments">
  <h2>Comments</h2>
  <div id="disqus_thread"></div>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
{% endif %}

<script type="text/javascript">
    var disqus_shortname = 'there4';
    (function() {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>

